@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Pretendard-Black";
  src: url("/fonts/Pretendard-Black.ttf");
}

@font-face {
  font-family: "Pretendard-Medium";
  src: url("/fonts/Pretendard-Medium.ttf");
}

@font-face {
  font-family: "Pretendard-Thin";
  src: url("/fonts/Pretendard-Thin.ttf");
}

@font-face {
  font-family: "SugarMagic";
  src: url("/fonts/Sugar-Magic.otf") format("opentype");
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
